<!-- Main modal -->
<div class="overlay" id="background_overlay"></div>
<section [ngStyle]="{ display: toggle ? 'block' : 'none' }">

  <div
    class="fixed z-50 w-full overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full flex justify-center"
    style="top: 30%; right: 50%"
  >
    <div class="relative w-full max-w-md max-h-full">
      <!-- Modal content -->
      <div
        class="relative bg-white rounded-lg shadow dark:bg-gray-700"
        style="padding-top: 1.5em"
      >
        <button
          type="button"
          (click)="closeModal();backgroundNone();"
          class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
          data-modal-hide="authentication-modal"
          style="font-size: 2em; font-weight: 300"
        >
          &times;
        </button>
        <div class="border-gray-200 dark:border-gray-700">
          <!-- <ul
            class="flex flex-wrap -mb-px text-sm font-medium text-center"
            id="myTab"
            data-tabs-toggle="#myTabContent"
            role="tablist"
          >
            <li class="mr-2" role="presentation">
              <button
                class="inline-block p-4 border-b-2 rounded-t-lg"
                id="login-tab"
                data-tabs-target="#login"
                type="button"
                role="tab"
                aria-controls="login"
                aria-selected="false"
                style="background: none"
              >
                login
              </button> -->
          <!-- </li>
            <li class="mr-2" role="presentation">
              <button
                style="background: none"
                class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                id="signup-tab"
                data-tabs-target="#signup"
                type="button"
                role="tab"
                aria-controls="signup"
                aria-selected="false"
              >
                signup
              </button>
            </li>
          </ul> -->
        </div>
        <!-- <div #myTabContent> -->
        <!-- <div
            class="hidden p-4 pt-0 rounded-lg bg-gray-50 dark:bg-gray-800"
            id="login"
            role="tabpanel"
            aria-labelledby="login-tab"
          > -->
        <!-- login start -->
        <div class="px-6 py-6 pt-0 lg:px-8 pt-2">
          <div
            *ngIf="alert_msg"
            class="p-2 flex justify-between rounded bg-red-200"
            id="alert"
          >
            <strong>Somthing wrong!</strong>{{ alert_msg }}
            <button class="close" (click)="close_alert()">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
          <h3
            class="mb-4 text-xl font-medium text-gray-900 dark:text-white text-center"
          >
            Sign in to codebox
          </h3>
          <form
            class="space-y-4"
            [formGroup]="login"
            (ngSubmit)="loginSubmit()"
          >
            <div
              *ngIf="login.get('email')?.invalid && login.get('email')?.touched"
              class="alert-msg"
            >
              <small *ngIf="login.get('email')?.hasError('pattern')"
                >invalid email</small
              ><small *ngIf="login.get('email')?.hasError('required')"
                >Email is required</small
              >
            </div>
            <div>
              <label
                for="email"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >
                Email</label
              >
              <input
                type="email"
                formControlName="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                placeholder="name@company.com"
                required
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
              />
            </div>

            <div
              *ngIf="
                login.get('password')?.invalid && login.get('password')?.touched
              "
              class="alert-msg"
            >
              <small *ngIf="login.get('password')?.hasError('required')"
                >Password is required!</small
              >
              <small *ngIf="login.get('password')?.hasError('minlength')"
                >Minimum 8 letters!</small
              >
            </div>
            <div>
              <label
                for="password"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >
                Password</label
              >
              <input
                type="password"
                name="password"
                formControlName="password"
                placeholder="••••••••"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                required
                minlength="8"
              />
            </div>
            <button
              [disabled]="!login.valid"
              [ngStyle]="{
                cursor: !login.valid ? 'not-allowed' : 'pointer'
              }"
              type="submit"
              class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              style="background-color: #1f2937"
            >
              Login to your account
            </button>
          </form>
        </div>
        <!-- login end -->
        <!-- </div> -->
        <!-- <div
            class="hidden p-4 pt-0 rounded-lg bg-gray-50 dark:bg-gray-800"
            id="signup"
            role="tabpanel"
            aria-labelledby="signup-tab"
          >
            
            <div class="px-6 py-6 pt-0 lg:px-8">
              <h3
                class="mb-4 text-xl font-medium text-gray-900 dark:text-white text-center"
              >
                Codebox signup
              </h3>
              <form class="space-y-4" action="#">
                <div>
                  <label
                    for="email"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >
                    Full Name</label
                  >
                  <input
                    type="text"
                    name="FullName"
                    id="full_name"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                    placeholder="name@company.com"
                    required
                  />
                </div>
                <div>
                  <label
                    for="email"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >
                    Email</label
                  >
                  <input
                    type="email"
                    name="email"
                    id="email"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                    placeholder="name@company.com"
                    required
                  />
                </div>
                <div>
                  <label
                    for="password"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >
                    Password</label
                  >
                  <input
                    type="password"
                    name="password"
                    id="password"
                    placeholder="••••••••"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                    required
                  />
                </div>
                <button
                  type="submit"
                  class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                  style="background-color: #1f2937"
                >
                  Create account
                </button>
              </form>
            </div>
          </div>-->
        <!-- </div>  -->
      </div>
    </div>
  </div>
</section>

