<section class="cards" *ngIf="yourWorks">
  <article
    *ngFor="let el of yourWorks"
    class="card"
    style="
      height: 17.3em;
      width: 20em;
      border: 1px solid rgb(210, 222, 233);
      margin-bottom: 1.5em;
    "
  >
    <iframe
      id="{{ el.template_id }}"
      style="width: 100%"
      class="www"
      scrolling="no"
    ></iframe>
  

    <div
      class="card__info mt-2"
      style="border-top: 0.5px solid rgb(210, 222, 233)"
    >
      <h3 routerLink="/coding/{{el._id}}" class="card__title">{{ el.title }}</h3>
      <span class="card__by">
        <a class="card__author" title="{{ el.user.full_name }}">
          {{ el.user.full_name }}</a
        ></span
      >
      <div class="flex justify-start mt-3 items-center">
        <div class="action mr-2">
          <small class="flex items-center"
            ><i class="fa-solid fa-heart" style="color: rgb(175, 0, 0)"></i
            >&nbsp;{{ el.like.length }}</small
          >
        </div>
        <div class="action mr-2">
          <small class="flex items-center"
            ><i class="fa-solid fa-comment" style="color: rgb(0, 0, 0)"></i
            >&nbsp;25</small
          >
        </div>
        <div class="action">
          <small class="flex items-center"
            ><i class="fa-solid fa-eye" style="color: rgb(0, 0, 0)"></i>&nbsp;{{
              el.views.length
            }}</small
          >
        </div>
      </div>
    </div>
  </article>
</section>

<!-- for loading -->
<section class="cards" *ngIf="!yourWorks && !empty">
  <article class="card animate-pulse" style="height: 21em; width: 20em">
    <iframe
      src="http://127.0.0.1:5500/zzzzzz/"
      width="320"
      height="200"
      frameborder="0"
    ></iframe>
    <div class="card__info-hover"></div>

    <div class="card__info mt-5">
      <h3
        class="card__title flex-1 space-y-6 py-1 p-3 rounded-full"
        style="background-color: rgb(212, 211, 211)"
      ></h3>
      <h3
        class="card__title flex-1 space-y-6 py-1 p-3 rounded-full"
        style="background-color: rgb(212, 211, 211)"
      ></h3>

      <div class="flex justify-around mt-3 items-center">
        <div class="action">
          <small class="flex"
            ><i class="fa-solid fa-heart" style="color: rgb(0, 0, 0)"></i
            >&nbsp;...</small
          >
        </div>
        <div class="action">
          <small class="flex"
            ><i class="fa-solid fa-comment" style="color: rgb(0, 0, 0)"></i
            >&nbsp;...</small
          >
        </div>
        <div class="action">
          <small class="flex"
            ><i class="fa-solid fa-eye" style="color: rgb(0, 0, 0)"></i
            >&nbsp;...</small
          >
        </div>
      </div>
    </div>
  </article>
</section>
<!-- /for loading -->

<!-- empty case -->
<div
  class="w-full h-32 rounded-lg flex flex-col items-center justify-center"
  style="background-color: #1f2937"
  *ngIf="empty"
>
  <h2 class="text-2xl text-white">No codes yet.</h2>
  <a routerLink="/coding/new" class="text-sky-400 mt-4">Go build One!</a>
</div>
<!-- /empty case -->