<link
  href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.17/dist/tailwind.min.css"
  rel="stylesheet"
/>

<!-- otp loading -->
<div
  *ngIf="resendLoading"
  class="bg-yellow-100 flex justify-between border border-yellow-400 text-yellow-700 px-4 py-3 rounded relative"
  style="position: absolute; width: 98%; margin: 1em"
  role="alert"
>
  <div>
    <strong class="font-bold">OTP Sending. </strong>
    <span class="block sm:inline">Please wait...</span>
  </div>
  <div class="animate-spin loading"></div>
</div>

<div
  [ngStyle]="{ display: !error_msg  ? 'none' : 'block' }"
  class="bg-red-100 text-red-700 px-4 py-3"
  #alert
  style="
    position: absolute;
    width: 98%;
    margin: 1em;
    border-radius: 5px;
    border: 1px solid;
    border-color: #fc8181;
  "
  role="alert"
>
  <strong class="font-bold">Something went wrong!&nbsp;</strong>
  <span class="block sm:inline">{{ error_msg }}</span>
  <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
    <svg
      (click)="close_alert()"
      class="fill-current h-6 w-6 text-red-500"
      role="button"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
    >
      <title>Close</title>
      <path
        d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"
      />
    </svg>
  </span>
</div>

<section>
  <!-- <div *ngIf="alert_msg" id="alert">
    <strong>Somthing wrong!</strong>Invalid OTP!
    <button class="close" (click)="close_alert()">&times;</button>
  </div> -->
  <div class="login-box">
    <h1>CODEBOX</h1>
    <form [formGroup]="otp" (ngSubmit)="onSubmit()">
      <div
        *ngIf="otp.get('otp')?.invalid && otp.get('otp')?.touched"
        class="alert-msg"
      >
        <small *ngIf="otp.get('otp')?.hasError('pattern')"
          >Please Enter Valid Entry</small
        ><small *ngIf="otp.get('otp')?.hasError('required')">Enter OTP</small>
      </div>
      <div class="user-box">
        <input
          type="tel"
          formControlName="otp"
          maxlength="6"
          minlength="6"
          required
        />
        <label>OTP</label>
      </div>
      <div class="buttons">
        <div class="submit">
          <button
          type="button"
            (click)="resendOtp()"
            [disabled]="timeoutRunning"
            [ngStyle]="{ cursor: timeoutRunning ? 'not-allowed' : 'pointer' }"
          >
            Resend
          </button>
          <button
          type="submit"
            [ngStyle]="{ cursor: !otp.valid ? 'not-allowed' : 'pointer' }"
          >
            Verify
          </button>
        </div>
      </div>
      <p *ngIf="timeoutRunning" id="timeout" class="timeout">
        00:{{ remainingTime }}
      </p>
    </form>
  </div>
</section>
