<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/codemirror@5.62.0/theme/ayu-mirage.css"
/>

<main class="h-screen">
  <!-- Navbar -->
  <nav class="bg-gray-800 w-full fixed z-10">
    <div class="mx-auto px-4">
      <div class="flex justify-between h-16 items-center">
        <div class="flex space-x-4 items-center text-white">
          <span class="relative flex h-3 w-3">
            <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"></span>
            <span class="relative inline-flex rounded-full h-3 w-3 bg-sky-500"></span>
          </span>
          <h1 class="m-0">Live Coding</h1>
        </div>
        <div class="flex">
          <button
            type="submit"
            class="text-gray-400 text-lg hover:text-white mr-8 py-2 px-4 rounded cursor-pointer"
            style="border: 1px dashed; background: none"
          >
            Run
          </button>

          <a
            routerLink="/home"
            class="py-2 text-gray-400 text-lg hover:text-white ml-3"
            ><i class="mt-1.5 fa-solid fa-house"></i
          ></a>
        </div>
      </div>
    </div>
  </nav>

  <div class="flex h-screen">
    <section class="flex flex-col" style="width: 50%" id="data">
      <div class="w-full" style="height: 4em"></div>
      <div
        style="
          height: 2em;
          flex: 1;
          background-color: darkslateblue;
          border-bottom: 5px solid;
        "
        id="html-header"
      >
        <p class="text-right p-2" style="background-color: rgb(203, 203, 203)">
          HTML
        </p>
      </div>
      <ngx-codemirror
        id="html"
        class="overflow-hidden"
        [(ngModel)]="htmlCode"
        [options]="htmlOptions"
        [autoFocus]="true"
        (ngModelChange)="htmlChange($event)"
      ></ngx-codemirror>
      <div
        style="flex: 1; background-color: gray; border-bottom: 5px solid"
        id="css-header"
      >
        <p class="text-right p-2" style="background-color: rgb(203, 203, 203)">
          CSS
        </p>
      </div>
      <ngx-codemirror
        id="css"
        class="overflow-hidden"
        [(ngModel)]="cssCode"
        [options]="cssOptions"
        (ngModelChange)="cssChange($event)"
      ></ngx-codemirror>
      <div
        style="flex: 1; height: 2em; background-color: darkolivegreen"
        id="js-header"
      >
        <p class="text-right p-2" style="background-color: rgb(203, 203, 203)">
          JS
        </p>
      </div>
      <ngx-codemirror
        id="js"
        class="overflow-hidden"
        [(ngModel)]="jsCode"
        [options]="jsOptions"
        (ngModelChange)="jsChange($event)"
      ></ngx-codemirror>
    </section>
    <div class="w-3 bg-gray-900" style="cursor: col-resize" id="resizer"></div>
    <div
      class="relative h-100"
      id="result-wrapper"
      style="margin-top: 4.3rem; flex-grow: 1"
    >
      <iframe
        #result
        class="h-full"
        style="width: 100%; height: 100%; margin: 0; padding: 0"
        src=""
      ></iframe>
    </div>
  </div>
</main>
