@tailwind base;
@tailwind components;
@tailwind utilities;

#html {
  width: 23em;
  height: 4em;
  flex: 1;
}
#css {
  width: 23em;
  height: 4em;
  flex: 1;
}
#js {
  width: 23em;
  height: 4em;
  flex: 1;
}

.CodeMirror-scroll {
  background: gray;
  height: 16em !important;
}

.cm-s-material {
  height: 16em !important;
}

.CodeMirror-code {
  height: 16em !important;
}

.CodeMirror {
  height: 16em !important;
}

.CodeMirror-linenumber {
  background-color: black;
}

/* code box's style */
/* .code-sizing {
  background-position: center;
  background-size: 75vh !important;
} */

#editable {
  font-size: 1.5em;
}

/* popup login */
/* .popup .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 6;
  display: none;
  margin-top:5em;
}
.popup .content {
  margin-top:20em;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #c0bfbf;
  width: 450px;
  height: 220px;
  color: black;
  text-align: center;
  padding: 3em;
  box-sizing: border-box;
  z-index: 7;
  border-radius: 6px;
}
.popup .close-btn {
  z-index: 7;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px; 
  height: 30px;
  width: 30px;
  color: #222;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}
.popup.active .overlay {
  display: block;
}
.popup.active .content {
  transition: all 0.2s ease-in-out;
  transform: translate(-50%, -50%) scale(1);
} */
