<link
  href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.17/dist/tailwind.min.css"
  rel="stylesheet"
/>

<div
  class="ml-64 tab-container sm:w-7/12 md:w-10/12 lg:w-10/12 xs:w-6/12 absolute p-9"
  style="margin-top: 5em"
>
  <ul class="tabs">
    <li
      id="trending"
      [ngClass]="{ active: isTrendingTab }"
      routerLink="/home/trending"
    >
      Trending
    </li>
    <li
      id="following"
      [ngClass]="{ active: isFollowingTab }"
      routerLink="/home/followingCodes"
    >
      Following
    </li>
    <li
      id="your_works"
      [ngClass]="{ active: isYourWorkTab }"
      routerLink="/home/yourWorks"
    >
      Your works
    </li>
  </ul>
  <div class="tab-content">
    <div class="active p-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-user-header></app-user-header>
<app-otp-veriy-alert></app-otp-veriy-alert>
<div *ngIf="otpToggle">
  <app-generate-otp></app-generate-otp>
</div>
