<section>
  <div *ngIf="alert_msg" id="alert">
    <strong>Somthing wrong!</strong>{{ alert_msg }}
    <button class="close" (click)="close_alert()">&times;</button>
  </div>
  <div class="login-box">
    <h2>Login</h2>
    <form [formGroup]="login" (ngSubmit)="onSubmit()">
      <div
        *ngIf="login.get('email')?.invalid && login.get('email')?.touched"
        class="alert-msg"
      >
        <small *ngIf="login.get('email')?.hasError('pattern')"
          >invalid email</small
        ><small *ngIf="login.get('email')?.hasError('required')"
          >username or email is required</small
        >
      </div>
      <div class="user-box">
        <input type="text" formControlName="email" required />
        <label>username</label>
      </div>
      <div
        *ngIf="login.get('password')?.invalid && login.get('password')?.touched"
        class="alert-msg"
      >
        <small *ngIf="login.get('password')?.hasError('required')"
          >Password is required!</small
        >
        <small *ngIf="login.get('password')?.hasError('minlength')"
          >Minimum 8 letters!</small
        >
      </div>
      <div class="user-box">
        <input
          type="password"
          formControlName="password"
          minlength="8"
          required
        />
        <label>Password</label>
      </div>
      <div style="text-align: end">
        <a
          routerLink="/signup"
          style="
            color: white;
            cursor: pointer;
            text-decoration: none;
            font-size: small;
          "
          >Signup</a
        >
      </div>
      <div class="submit">
        <button
          [disabled]="!login.valid"
          [ngStyle]="{ cursor: !login.valid ? 'not-allowed' : 'pointer' }"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</section>
