/* cards style */
/* @import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"); */

* {
    box-sizing: border-box;
  }
  
  body,
  html {
    font-family: "Roboto Slab", serif;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  
  body {
    background-color: #d2dbdd;
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    justify-content: center;
    align-items: center;
  }
  
  .cards {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
    flex-wrap: wrap;
  }
  
  .card__like {
    width: 18px;
  }

  
  .card__clock-info {
    float: right;
  }
  
  .card__img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  .card__info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
  }
  
  .card__img--hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
  }
  .card {
    margin-right: 25px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 15em;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  }
  .card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.1, 1.1);
  }
  
  .card__info {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 0 24px 24px 24px;
  }
  
  .card__category {
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
  }
  
  .card__title {
    margin-top: 5px;
    font-weight: 700;
  
  }
  
  .card__by {
    font-size: 12px;
    font-weight: 500;
  }
  
  .card__author {
    font-weight: 600;
    text-decoration: none;
    /* color: #ad7d52; */
  }
  
  .action {
    margin-top: 2px;
    padding: 3px 5px;
    background-color: #d0d0d0;
    width: fit-content;
    border-radius: 3px;
  }
  
  /* .card:hover .card__img--hover {
      height: 100%;
      opacity: 0.3;
  } */
  
  .card:hover .card__info {
    background-color: transparent;
    position: relative;
    cursor: pointer;
  }
  
  .card:hover .card__info-hover {
    opacity: 1;
  }
  
  /* tabs style */
  .tab-container {
    display: flex;
    flex-direction: column;
  }
  
  .tabs {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 2em;
  }
  
  .tabs li {
    cursor: pointer;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    color:rgb(8,8,43);
    border-radius: 4px;
  }
  
  .tabs li:hover {
    background-color: rgb(8,8,43);
    transition: all 0.2s ease-in-out;
    color: white;
  }
  
  .tabs li.active {
    border: none;
    border-bottom: 3px solid rgb(25, 105, 0);
    border-bottom-color:  rgb(25, 105, 0);
    border-radius: 5px 5px 0 0;
  }
  
  .tab-content {
    padding: 10px;
  }
  
  .tab-content > div {
    display: none;
  }
  
  .tab-content > div.active {
    display: block;
  }
  