<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/css/dataTables.bootstrap4.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">


<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <app-header></app-header>
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb d-flex justify-content-between">
                <li class="d-flex align-items-center">
                    <a>Dashboard /</a><a class="breadcrumb-item active">&nbsp;Users</a>
                </li>
                <!-- <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Search here...">
                            <span class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </li> -->

            </ol>
            <!-- users table -->
            <table class="table table-hover text-start">
                <thead>
                    <tr>
                        <th scope="col">NO</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">followers</th>
                        <th scope="col">following</th>
                        <th scope="col">is spam</th>
                        <th scope="col">is disabled</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users$;let i = index">

                        <th scope="row">{{i+1}}</th>
                        <td>{{user.full_name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phone}}</td>
                        <td>{{user.followers.length}}</td>
                        <td>{{user.following.length}}</td>
                        <td>
                            <p class="text-danger" *ngIf="user.is_spam">Spam</p>
                            <p class="text-success" *ngIf="!user.is_spam">User</p>
                        </td>
                        <td>
                            <p class="text-danger" *ngIf="user.is_disabled">Deactivated</p>
                            <p class="text-success" *ngIf="!user.is_disabled">Active</p>
                        </td>
                        <td>
                            <button *ngIf="!user.is_spam" (click)="blockUser(user._id,user.full_name)"
                                class="btn btn-danger">Block</button>
                            <button *ngIf="user.is_spam" (click)="unblockUser(user._id,user.full_name)"
                                class="btn btn-success">Unblock</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- /table -->
            <!-- Icon Cards-->

        </div>

    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © CODESANDBOX 2023</small>
            </div>
        </div>
    </footer>




</body>