@tailwind base;
@tailwind components;
@tailwind utilities;

.mt_adjust,
.mt_adjust_delete {
  margin-top: 0;
}

@media (max-width: 995px) {
  .mt_adjust {
    margin-top: 1.25rem;
  }
}
@media (max-width: 1161px) {
  .mt_adjust_delete {
    margin-top: 1.25rem;
  }
}


