<main class="w-full h-full text-gray-400 flex justify-center container mx-auto">
  <div class="flex flex-col w-full items-center" style="width: 95%">
    <!-- profile photo -->
    <div
      class="flex h-full w-5/6 bg-zinc-800 p-5 mb-5 rounded-md justify-between flex-wrap"
    >
      <!-- loading -->
      <div class="flex w-full justify-center" *ngIf="!userData">
        <div class="flex md:w-full items-center justify-center">
          <i class="animate-spin fa-solid fa-spinner"></i>
        </div>
      </div>
      <div class="flex w-6/12 items-center justify-start" *ngIf="userData">
        <div class="w-full sm:pb-5 md:pb-0 lg:pb-0">
          <label
            class="flex w-full pb-5 sm:pb-0 md:pb-0 text-gray-500 text-start font-bold md:text-right md:mb-0"
          >
            <i class="fa-regular fa-image"></i>&nbsp; Profile Image:
          </label>
        </div>
      </div>
      <div class="flex justify-start w-6/12 flex-wrap" *ngIf="userData">
        <div class="w-full flex items-center flex-wrap justify-start">
          <img
            class="object-fill rounded mr-0 sm:mr-4"
            loading="lazy"
            width="150"
            height="150"
            [src]="profilePath"
            [alt]="userName ? userName : 'loading..'"
          />

          <input
            class="hidden appearance-none"
            #fileInput
            type="file"
            (change)="handleFileSelect($event)"
          />
          <button
            (click)="openFilePicker()"
            [title]="'change profile image'"
            class="relative mt_adjust inline-flex items-center justify-center p-0.5 mr-0 sm:mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white"
          >
            <span
              class="relative px-5 py-2.5 transition-all ease-in duration-75 text-gray-300 dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
            >
              Change
            </span>
          </button>
          <button
            *ngIf="isProfileImage"
            (click)="removeProfile()"
            [title]="'Remove Profile Image'"
            class="relative mt_adjust_delete inline-flex items-center justify-center p-0.5 mr-0 sm:mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white"
          >
            <i
              *ngIf="removeImgLoading"
              class="animate-spin px-2 text-white fa-solid fa-spinner"
            ></i>
            <span
              class="relative px-5 py-3 transition-all ease-in duration-75 text-gray-300 dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
            >
              <i class="fa-solid fa-trash"></i>
            </span>
          </button>
        </div>
      </div>
    </div>

    <!-- About -->
    <form
      #aboutForm="ngForm"
      (ngSubmit)="submitAboutForm(aboutForm)"
      class="flex flex-col mb-5 flex-wrap w-5/6 p-5 bg-zinc-800 rounded-md"
    >
      <!-- loading -->
      <div class="flex w-full justify-center" *ngIf="!userData">
        <div class="flex md:w-full items-center justify-center">
          <i class="animate-spin fa-solid fa-spinner"></i>
        </div>
      </div>
      <!-- Display Name -->
      <div class="flex w-full justify-between flex-wrap pb-5" *ngIf="userData">
        <div class="flex md:w-1/2 items-center justify-start">
          <div class="w-full sm:pb-5 md:pb-0 lg:pb-0">
            <label
              class="flex w-full pb-5 sm:pb-0 text-gray-500 font-bold text-start md:text-right md:mb-0"
            >
              <i class="fa-solid fa-id-card"></i>&nbsp; Display Name:
            </label>
          </div>
        </div>
        <div class="flex md:w-1/2 justify-start">
          <div class="w-full flex items-center flex-wrap justify-center">
            <div class="w-full">
              <input
                type="text"
                name="displayName"
                [(ngModel)]="userData.display_name"
                class="flex w-full p-3 text-sm text-gray-900 border border-gray-300 focus:ring-2 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                minlength="4"
                required
                autocomplete="off"
                (keyup)="clearError()"
              />
              <div class="mt-1" *ngIf="error != null">
                <small class="text-red-800">{{ error }}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Location -->
      <div class="flex w-full justify-between flex-wrap pb-5" *ngIf="userData">
        <div class="flex md:w-1/2 items-center justify-start">
          <div class="w-full sm:pb-5 md:pb-0 lg:pb-0">
            <label
              class="flex w-full pb-5 sm:pb-0 text-gray-500 font-bold text-start md:text-right md:mb-0"
            >
              <i class="fa-solid fa-location-dot"></i>&nbsp; Location:
            </label>
          </div>
        </div>
        <div class="flex md:w-1/2 justify-start">
          <div class="w-full flex items-center flex-wrap justify-center">
            <div class="w-full">
              <input
                type="text"
                name="location"
                autocomplete="off"
                [(ngModel)]="userData.location"
                class="flex w-full p-3 text-sm text-gray-900 border border-gray-300 focus:ring-2 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- Bio -->
      <div class="flex w-full justify-between flex-wrap" *ngIf="userData">
        <div class="flex md:w-1/2 items-center justify-start">
          <div class="w-full sm:pb-5 md:pb-0 lg:pb-0">
            <label
              class="flex w-full pb-5 sm:pb-0 text-gray-500 font-bold text-start md:text-right md:mb-0"
            >
              <i class="fa-regular fa-address-card"></i>&nbsp; Bio:
            </label>
          </div>
        </div>
        <div class="flex md:w-1/2 justify-start">
          <div class="w-full flex items-center flex-wrap justify-center">
            <div class="w-full">
              <textarea
                type="text"
                name="bio"
                [(ngModel)]="userData.bio"
                class="flex w-full p-3 text-sm text-gray-900 border border-gray-300 focus:ring-2 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                cols="150"
                autocomplete="off"
                maxlength="200"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </form>

    <!-- Social media Links -->
    <form
      #socialMediaform="ngForm"
      (ngSubmit)="submitSocialForm(socialMediaform)"
      class="flex flex-col flex-wrap w-5/6 p-5 bg-zinc-800 rounded-md mb-5"
    >
      <!-- loading -->
      <div class="flex w-full justify-center" *ngIf="!userData">
        <div class="flex md:w-full items-center justify-center">
          <i class="animate-spin fa-solid fa-spinner"></i>
        </div>
      </div>
      <!-- Linked In -->
      <div class="flex w-full justify-between flex-wrap pb-5" *ngIf="userData">
        <div class="flex md:w-1/2 items-center justify-start">
          <div class="w-full sm:pb-5 md:pb-0 lg:pb-0">
            <label
              class="flex w-full pb-5 sm:pb-0 text-gray-500 font-bold text-start md:text-right md:mb-0"
            >
              <i class="fa-brands fa-linkedin"></i>&nbsp; Linked In:
            </label>
          </div>
        </div>
        <div class="flex md:w-1/2 justify-start">
          <div class="w-full flex items-center flex-wrap justify-center">
            <div class="w-full">
              <input
                type="url"
                autocomplete="off"
                name="linkedInUrl"
                [(ngModel)]="userData.linkedin_link"
                class="flex w-full p-3 text-sm text-gray-900 border border-gray-300 focus:ring-2 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                placeholder="https://www.example.com"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- Twitter -->
      <div class="flex w-full justify-between flex-wrap" *ngIf="userData">
        <div class="flex md:w-1/2 items-center justify-start">
          <div class="w-full sm:pb-5 md:pb-0 lg:pb-0">
            <label
              class="flex w-full pb-5 sm:pb-0 text-gray-500 font-bold text-start md:text-right md:mb-0"
            >
              <i class="fa-brands fa-twitter"></i>&nbsp;Twitter:
            </label>
          </div>
        </div>
        <div class="flex md:w-1/2 justify-start">
          <div class="w-full flex items-center flex-wrap justify-center">
            <div class="w-full">
              <input
                type="url"
                [(ngModel)]="userData.twitter_link"
                autocomplete="off"
                name="twitterUrl"
                class="flex w-full p-3 text-sm text-gray-900 border border-gray-300 focus:ring-2 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                placeholder="https://twitter.com/username"
              />
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="flex flex-col flex-wrap w-5/6 p-5 bg-zinc-800 rounded-md">
      <!-- loading -->
      <div class="flex w-full justify-center" *ngIf="!userData">
        <div class="flex md:w-full items-center justify-center">
          <i class="animate-spin fa-solid fa-spinner"></i>
        </div>
      </div>
      <!-- submit -->
      <div class="flex w-full justify-between flex-wrap" *ngIf="userData">
        <div class="flex md:w-1/2 items-center">
          <div class="w-full sm:pb-5 md:pb-0 lg:pb-0">
            <label
              class="flex w-full pb-5 sm:pb-0 text-gray-500 font-bold text-start md:text-right md:mb-0"
            >
              &nbsp;Update:
            </label>
          </div>
        </div>
        <div class="flex md:w-1/2 justify-center">
          <div class="w-full flex items-center justify-center">
            <div class="w-full">
              <button
                type="button"
                title="save changes"
                (click)="
                  aboutForm.ngSubmit.emit(); socialMediaform.ngSubmit.emit()
                "
                class="relative inline-flex items-center justify-center p-0.5 mr-0 sm:mr-2 overflow-hidden text-sm font-medium text-gray-900 sm:mt-0 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white"
              >
                <div *ngIf="profileDataLoading">
                  <i class="animate-spin fa-solid px-2 fa-spinner"></i>
                </div>
                <span
                  class="relative px-5 py-2.5 transition-all ease-in duration-75 text-gray-300 dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
                >
                  Save
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

