#html {
  width: 23em;
  height: 4em;
  flex: 1;
}
#css {
  width: 23em;
  height: 4em;
  flex: 1;
}
#js {
  width: 23em;
  height: 4em;
  flex: 1;
}

.CodeMirror-scroll {
  background: gray;
  height: 16em !important;
}

.cm-s-material {
  height: 16em !important;
}

.CodeMirror-code {
  height: 16em !important;
}

.CodeMirror {
  height: 16em !important;
}

.CodeMirror-linenumber {
  background-color: black;
}

/* code box's style */
.code-sizing {
  background-position: center;
  background-size: 75vh !important;
}


.alert-msg {
  color: rgb(140, 3, 3);
  margin-bottom: 1em;
}