<section>
    <div *ngIf="error_reason$" id="alert">
        <strong>Somthing wrong!</strong>{{error_reason$}}
        <button class="close" (click)="close_alert()">X</button>
    </div>
    <div class="login-box">
        <h2>Signup</h2>
        <form [formGroup]="signup" (ngSubmit)="onSubmit()">

            <div *ngIf="signup.get('fullName')?.invalid && (signup.get('fullName')?.touched || signup.get('fullName')?.dirty)"
                class="alert-msg"><small *ngIf="signup.get('fullName')?.hasError('required')">Full Name is
                    required</small>
                <small *ngIf="signup.get('fullName')?.hasError('minlength')">Minimum 5 charecters</small>
            </div>
            <div class="user-box">
                <input type="text" formControlName="fullName" minlength="5" required>
                <label>Full Name</label>
            </div>

            <div *ngIf="signup.get('email')?.invalid && signup.get('email')?.touched" class="alert-msg"><small
                    *ngIf="signup.get('email')?.hasError('pattern')">invalid
                    email</small><small *ngIf="signup.get('email')?.hasError('required')">Email is required</small>
            </div>
            <div class="user-box">
                <input type="email" formControlName="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                    required>
                <label>Email</label>
            </div>

            <div *ngIf="signup.get('phone')?.invalid && signup.get('phone')?.touched" class="alert-msg"><small
                    *ngIf="signup.get('phone')?.hasError('minlength')">Minimum 10 digit</small><small
                    *ngIf="signup.get('phone')?.hasError('required')">Phone number is required</small><small
                    *ngIf="signup.get('phone')?.hasError('pattern')">Invalid phone number</small>
            </div>
            <div class="user-box">
                <input type="tel" formControlName="phone" minlength="10" pattern="^[0-9]{3}[0-9]{3}[0-9]{4}$" required>
                <label>Phone</label>
            </div>

            <div *ngIf="signup.get('new_password')?.invalid && signup.get('new_password')?.touched" class="alert-msg">
                <small *ngIf="signup.get('new_password')?.hasError('required')">Password is required!</small>
                <small *ngIf="signup.get('new_password')?.hasError('minlength')">Minimum 8 letters!</small>
            </div>
            <div class="user-box">
                <input type="password" formControlName="new_password" minlength="8" required>
                <label>New Password</label>
            </div>

            <div *ngIf="signup.get('c_password')?.invalid && signup.get('c_password')?.touched" class="alert-msg"><small
                    *ngIf="signup.get('c_password')?.hasError('required')">Re-Enter
                    password!</small><small *ngIf="signup.get('c_password')?.hasError('minlength')">Minimum 8
                    letters!</small>
                <!-- <small [ngStyle]="{'display': signup.get('c_password')?.hasError('required') ? 'none': '' }"
                    *ngIf="signup.get('new_password')?.value !== signup.get('c_password')?.value">Password do not
                    match!</small> -->

            </div>
           
            <div class="user-box">
                <input type="password" formControlName="c_password" minlength="8" required style="margin-bottom:10px">
                <label>Confirm Password</label>
            </div>
            <a routerLink="/login"><small style="color:white;float: right;">Login</small></a>
            <div class="submit">
                <button [disabled]="!signup.valid"
                    [ngStyle]="{'cursor': !signup.valid ? 'not-allowed' : 'pointer'}" type="submit">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Submit
                </button>
            </div>
        </form>
    </div>
</section>