
.popup {
  position: absolute !important;
  margin: 0 !important;
  background-color: red;
  color: white;
  width: 100% !important;
}

/* 
The package @angular/material@15.2.5 will be installed and executed.
Would you like to proceed? Yes
✔ Packages successfully installed.
? Choose a prebuilt theme name, or "custom" for a custom theme: Custom
? Set up global Angular Material typography styles? Yes
? Include the Angular animations module? Include and enable animations
UPDATE package.json (1100 bytes)
✔ Packages installed successfully.
CREATE src/custom-theme.scss (1399 bytes)
UPDATE src/app/app.module.ts (845 bytes)
UPDATE angular.json (2796 bytes)
UPDATE src/index.html (559 bytes)
UPDATE src/styles.css (125 bytes) */



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
