
<!-- for loading -->
<section class="cards" *ngIf="!followingCodes">
    <article class="card animate-pulse" style="height: 21em; width: 20em">
      <iframe
        src="http://127.0.0.1:5500/zzzzzz/"
        width="320"
        height="200"
        frameborder="0"
      ></iframe>
      <div class="card__info-hover"></div>
  
      <div class="card__info mt-5">
        <h3
          class="card__title flex-1 space-y-6 py-1 p-3 rounded-full"
          style="background-color: rgb(212, 211, 211)"
        ></h3>
        <h3
          class="card__title flex-1 space-y-6 py-1 p-3 rounded-full"
          style="background-color: rgb(212, 211, 211)"
        ></h3>
  
        <div class="flex justify-around mt-3 items-center">
          <div class="action">
            <small
              ><i class="fa-solid fa-heart" style="color: rgb(0, 0, 0)"></i
              >&nbsp;...</small
            >
          </div>
          <div class="action">
            <small
              ><i class="fa-solid fa-comment" style="color: rgb(0, 0, 0)"></i
              >&nbsp;...</small
            >
          </div>
          <div class="action">
            <small
              ><i class="fa-solid fa-eye" style="color: rgb(0, 0, 0)"></i
              >&nbsp;...</small
            >
          </div>
        </div>
      </div>
    </article>
  </section>
  <!-- /for loading -->
